aiohttp==3.8.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
aiosignal==1.3.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
albumentations==1.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
anomalib==0.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
antlr4-python3-runtime==4.9.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
async-timeout==4.0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
attrs==22.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
av==10.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
certifi==2022.12.7 ; python_full_version >= "3.8.1" and python_version < "4"
charset-normalizer==3.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Windows"
contourpy==1.0.7 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
cycler==0.11.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
docstring-parser==0.15 ; python_full_version >= "3.8.1" and python_version < "4.0"
einops==0.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
filelock==3.9.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
fonttools==4.39.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
freia==0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
frozenlist==1.3.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
fsspec[http]==2023.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
huggingface-hub==0.13.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.8.1" and python_version < "4"
imageio==2.26.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
imgaug==0.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
importlib-resources==5.12.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
joblib==1.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
jsonargparse[signatures]==4.20.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
kiwisolver==1.4.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
kornia==0.6.9 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
lazy-loader==0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
lightning-utilities==0.8.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
matplotlib==3.7.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
multidict==6.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
networkx==3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
numpy==1.24.2 ; python_full_version < "4.0.0" and python_full_version >= "3.8.1"
nvidia-cublas-cu11==11.10.3.66 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
omegaconf==2.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
opencv-python-headless==4.7.0.72 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
opencv-python==4.7.0.72 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
packaging==23.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pandas==1.5.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pillow==9.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pyparsing==3.0.9 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
python-dateutil==2.8.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pytorch-lightning==1.9.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pytz==2022.7.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pywavelets==1.4.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pyyaml==6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
qudida==0.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
requests==2.28.2 ; python_full_version >= "3.8.1" and python_version < "4"
scikit-image==0.20.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
scikit-learn==1.2.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
scipy==1.9.3 ; python_full_version < "4.0.0" and python_full_version >= "3.8.1"
setuptools==67.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
shapely==2.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
threadpoolctl==3.1.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
tifffile==2023.2.28 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
timm==0.6.12 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torch==1.13.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torchmetrics==0.10.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torchtext==0.14.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torchvision==0.14.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
tqdm==4.65.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
typeshed-client==2.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
typing-extensions==4.5.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
urllib3==1.26.15 ; python_full_version >= "3.8.1" and python_version < "4"
wheel==0.38.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
yarl==1.8.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
zipp==3.15.0 ; python_full_version >= "3.8.1" and python_version < "3.10"
